{% extends 'base.html' %}

{% block content %}
    <div class="center">
        <form action="" class="form-signin" method="post" autocomplete="off">
            {% csrf_token %}
            {% comment %} <img src="{% static 'images/senai_fms_logo.png' %}" class="mb-4" alt="" width="72" height"72"> {% endcomment %}
            <h1 class="h3 mb-3 font-weight-normal">Inform your data</h1>
    
            <label for="username" class="sr-only">User</label>
            <input type="text" name="username" id="username" class="form-control input-width" placeholder="UserName" required autofocus>
    
            <label for="password" class="sr-only">Password</label>
            <input type="password" id="password" name="password" class="form-control input-width" placeholder="Password" required>
    
            <button class="btn btn-lg btn-primary btn-block" type="submit">Acces</button>
        </form>
    </div>
{% endblock  %}