{% load static %}
{% load bootstrap5 %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FMS - 5.0</title>
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'style/style.css' %}">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %'}" type="image/x-icon">
</head>
<body class="body-container">
    {% include 'navbar.html' %}
    <main class="container">
        {% block content %}{% endblock  %}
    </main>
    
    {% include 'footer.html' %}

    {% bootstrap_javascript %}
</body>
</html>