{% extends 'base.html' %}
{% load static %}
{% load bootstrap5 %}

{% block content %}
    {% include 'navbar.html' %}
    <div class="container div-margin">

      {% include 'filter.html' %}
      
        <table class="table table-dark table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Requester</th>
                <th scope="col">Machine</th>
                <th scope="col">Personalization</th>
                <th scope="col">Color</th>
                <th scope="col">Stage</th>
                <th scope="col">Finished</th>
              </tr>
            </thead>

            <tbody>
                {% for request in demand %}
                    <tr>
                        <td>{{ request.id }}</td>
                        <td>{{ request.requester.first_name }}</td>
                        <td>{{ request.machine }}</td>
                        <td>{{ request.personalization }}</td>
                        <td>{{ request.color }}</td>
                        <td>{{ request.stage }}</td>
                        <td>{{ request.finished }}</td>
                    </tr>
                {% endfor %}
              
            </tbody>
          </table>
    </div>
{% endblock  %}