{% extends 'base.html' %}
{% load static %}
{% load bootstrap5 %}

{% block content %}
    <div class="container div-margin">

      {% include 'filter.html' %}
      
        <table class="table table-light table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Solicitante</th>
                <th scope="col">Máquina</th>
                <th scope="col">Personalização</th>
                <th scope="col">Cor</th>
                <th scope="col">Estado</th>
                <th scope="col">Finalizado</th>
                <th scope="col">Editar</th>
              </tr>
            </thead>

            <tbody>
                {% comment %} {% for request in demand %} {% endcomment %}
                {% for request in page_obj.object_list %}
                    <tr>
                        <td>{{ request.id }}</td>
                        <td>{{ request.requester.first_name }}</td>
                        <td>{{ request.machine }}</td>
                        <td>{{ request.personalization }}</td>
                        <td>{{ request.color }}</td>
                        <td>{{ request.stage }}</td>
                        <td>{{ request.finished }}</td>
                        <td><a href="{% url 'order_edit' pk=request.id %}" class="text-danger" > {% include 'edit_icon.html' %} </a></td>
                    </tr>
                {% endfor %}
            </tbody>
          </table>

          {% include 'pagination.html' %}
          
    </div>
{% endblock  %}