{% load bootstrap5 %}
{% load static %}

<nav class="navbar navbar-expand navbar-dark bg-white border-bottom border-danger border-2">
    <div class="container-fluid">
        <div class="collapse navbar-collapse navbar-list justify-content-between " id="navbarNav">
            <a href="{% url 'index' %}">
                <img src="{% static 'images/senailogo.svg' %}" alt="" class="overlay-image">
            </a>
            <ul class="navbar-nav text-center gap-4 fw-normal">
                <li class="nav-item">
                    <a class="bartxt fs-3 nav-link text-dark" aria-current="page" href="{% url 'order' %}">Ordem</a>
                </li>
                <li class="nav-item">
                    <a class="bartxt fs-3 nav-link text-dark" href="{% url 'demand' %}">Demanda</a>
                </li>
                <li class="nav-item">
                    <a class="bartxt fs-3 nav-link text-dark" href="{% url 'index' %}">Login</a>
                </li>
            </ul>
            
        </div>
    </div>
</nav>