{% load bootstrap5 %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style/style.css' %}">
    {% bootstrap_css %}
</head>
<body>
    <div class="conatiner">
        <h1>Order</h1>
        {% bootstrap_messages %}
        <form action="{% url 'order' %}" method="post" class="form">
            {% csrf_token %}

            {% bootstrap_form form %}

            {% buttons %}
                <button type="submit" class="btn btn-primary">Send order</button>
            {% endbuttons %}
        </form>
    </div>
    {% bootstrap_javascript %}
</body>
</html>